#footer {
    padding-block: 2rem;
    background-color: black;

    .list-container {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-around;

        &>div {

            ul {
                list-style: none;

                li:first-child {
                    color: white;
                    font-weight: bold;
                    font-size: .9rem;

                    &:hover {
                        text-decoration: none;
                        cursor: auto;
                    }
                }

                li {
                    margin-top: 20px;
                    color: #bac0c3;
                    font-size: .8rem;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .social-media-links {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-inline: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-media-icons {
            display: flex;
            gap: 1rem;
        }

        .currency-section {
            display: flex;
            gap: 2rem;

            .svg-div {
                width: 200px;
            }

            &>* {
                color: white;
            }
        }
    }
}

.copyright-text {
    font-size: .8rem;
    color: white;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;

    .first-div {
        flex: 4;

        p:nth-of-type(1) {
            margin-bottom: 20px;
            line-height: 1.9;
        }
    }

    .second-div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        flex: 1;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;

        li:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    p {
        text-wrap: balance;

        a {
            text-decoration: none;
            color: white;
            align-self: flex-end;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.hide {
    display: block;
}

.show i {
    display: none;
}

// media - querry

@media(max-width: 990px){
    .list-container {
        margin-inline: 3rem;
        flex-direction: column;

        ul li:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }

        .show i {
            display: block;
        }
        .hide {
            display: none;
        }
    }

    .social-media-links {
        flex-direction: column;
        gap: 2rem;

        .currency-section {
            width: 100%;
            align-self: flex-start;

            span:nth-of-type(2){
                margin-left: auto;
                margin-right: 0;
            }
        }

        .social-media-icons {
            align-self: flex-start;
        }
    }
}

@media(max-width: 650px){
    .currency-section {
        flex-direction: column;

        span:nth-of-type(2){
            margin-left: 0 !important;
            margin-right: auto !important;
        }
    }

    .copyright-text {
        flex-direction: column;
        text-align: center;

        .first-div {
            flex: none;

            display: flex;
            flex-direction: column;
            align-items: center;

                a {
                    padding-left: 8rem;
                }
        }

        .second-div {
            flex: none;
        }
    }
}
