.hero-section {
    width: 90%;
    margin: 10px auto;
    border-radius: 25px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;

    .normal-domain {
        border-radius: 25px;
        background-image: url("images/hero-section-image-1.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .card-1 {
            padding-left: 2rem;
            padding-block: 2rem;
            width: 50%;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            p:nth-of-type(1){
                border-radius: 2px;
                background-color: white;
                color: black;
                width: 45px;   
                text-align: center;
            }
            
            h1 {
                font-size: 3.5rem;
            }
            
            p:nth-of-type(2){
                width: 80%;
                font-size: 1.2rem;
                font-weight: 800;
                text-wrap: balance;
            }

            button {
                background-color: black;
                color: white;
                width: 200px;
                font-size: 1.1rem;
                padding: 1rem;
                border-radius: 10px;
            }
        }
    }

    .wordpress-domain  {
        border-radius: 25px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;

        .card-2 {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            p:nth-of-type(1){
                background-color: #a6fff8;
                color: black;
                padding: 2px 4px;
                border-radius: 2px;
            }

            button {
                background-color: white;
                color: black;
                padding: 1em 1em;
                border-radius: 5px;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }

    }
}

.button-section {
    margin-block: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;

    li {
        border: 1px solid grey;
        padding: 10px;
        border-radius: 25px;
        transition: scale .5s ease;
    }

    li:nth-of-type(1){
        border: none;
        color: white;
        background-color: black;
    }

    li:hover {
        scale: 1.1;
        border: 2px solid black;
    }
}

@media (max-width: 1000px){
    .hero-section {
        display: flex;
        flex-direction: column;
        width: 90%;

        .normal-domain {
            background-image: url("images/hero-section-image-vertical.webp");
            background-position: bottom right;
            height: 850px;
            

            p:nth-of-type(2){
                font-weight: normal;
            }
        }

        .wordpress-domain {
            padding-block: 30px;
            padding-left: 2rem;

            .card-2 {
                padding-block: none;
                text-align: left;
                width: 100%;
                align-items: flex-start;

                h1 {
                    font-size: 1.5rem;
                }

                button {
                    display: none;
                }
            }
        }
    }

}

@media (max-width: 650px){
    .hero-section {
        .normal-domain {
            .card-1 {
                text-align: center;
                align-items: center;
                margin: 0 auto;
                width: 100%;

                h1 {
                    font-size: 2.5rem;
                    width: 70%;
                }

                p:nth-of-type(2){
                    text-wrap: balance;
                }
            }
        }
    }
}