@use "navbar";
@use "input-field";
@use "hero-section";
@use "card-section";
@use "hoverable-section";
@use "owner-section";
@use "feedback";
@use "rating";
@use "guide-section";
@use "accordion-section";
@use "note";
@use "footer";


@import url("https://db.onlinewebfonts.com/c/0aee6008b82cde991ec28387169bb13e?family=GD+Sherpa+Regular");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "GD Sherpa Regular";
}

