@import url("https://db.onlinewebfonts.com/c/0aee6008b82cde991ec28387169bb13e?family=GD+Sherpa+Regular");
#nav {
  color: white;
  background-color: black;
  padding-block: 0.9rem;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#nav .nav-left-side,
#nav .nav-right-side {
  display: flex;
}
#nav .hidden {
  display: none;
}
#nav .nav-left-side .logo {
  width: 150px;
  fill: white;
}
#nav .nav_items {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
#nav .nav_items div {
  display: flex;
  align-items: center;
}
#nav .nav-right-side {
  gap: 2rem;
}
#nav .nav-right-side div {
  display: flex;
  align-items: center;
}

#second-nav {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0px;
  padding-left: 2rem;
  width: 40%;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  transition: all 0.5s ease-in;
}
#second-nav ul:nth-of-type(2) li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#second-nav ul {
  list-style: none;
}

.close {
  display: none;
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

@media (max-width: 1365px) {
  #nav {
    align-items: center;
    justify-content: initial;
  }
  #nav .hidden {
    display: block;
  }
  #nav .nav_items {
    display: none;
  }
  #nav .menu-btn {
    font-size: 2rem;
    padding-left: 1.5rem;
  }
  .nav-right-side {
    margin-left: auto;
    margin-right: 2rem;
  }
}
@media (max-width: 750px) {
  #nav .nav-right-side {
    display: none;
  }
  #nav .menu-btn {
    font-size: 2rem;
    padding-left: 1.5rem;
  }
  svg {
    width: 100px;
  }
  #second-nav {
    width: 90%;
    display: none;
  }
  #second-nav .logo {
    margin-bottom: 2rem;
  }
  #second-nav .logo svg {
    margin-top: 1rem;
    width: 50px;
  }
  #second-nav div ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #second-nav > ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  #second-nav ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
  }
  .close {
    display: block;
  }
}
@media (max-width: 450px) {
  #second-nav {
    height: 100vh;
    padding-bottom: 8rem;
  }
}
.search-section {
  background-color: #eef0f1;
  border-radius: 10px;
  margin: 2rem auto;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  width: 90%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 0.5rem;
}

.input-area {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-block: 10px;
  padding-right: 10px;
}
.input-area input {
  width: 85%;
  background-image: url("images/magnifying-glass.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -10px;
  padding-block: 1.2rem;
  padding-left: 3.5rem;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  border: none;
  outline: none;
}
.input-area input:focus {
  padding-left: 1rem;
  background-position: -65px;
}
.input-area button {
  width: 15%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #09757a;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.domain-offer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
  border: none;
  outline: none;
}
.domain-offer-div:hover {
  border: 1px solid #eef0f1;
  background-color: white;
}
.domain-offer-div:hover a {
  border: none;
  color: #00838C;
}

a {
  outline: none;
  text-decoration: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: black;
}
a .domain-price {
  font-weight: 700;
  border: none;
  outline: none;
}

@media (max-width: 1000px) {
  .search-section {
    margin: 0.5rem auto;
    grid-template-columns: 1fr;
    width: 98%;
  }
  .input-area input {
    background-image: none;
    padding-left: 1rem;
  }
  .domain-offer-div {
    display: none;
  }
}
@media (max-width: 450px) {
  .search-section {
    margin: 0.5rem auto;
  }
  .input-area {
    padding: 0;
  }
  .input-area input {
    width: 75%;
    padding: 0;
    font-size: 1rem;
    transition: none;
  }
  .input-area button {
    width: 25%;
    font-size: 0.9rem;
    font-weight: normal;
  }
}
.hero-section {
  width: 90%;
  margin: 10px auto;
  border-radius: 25px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
}
.hero-section .normal-domain {
  border-radius: 25px;
  background-image: url("images/hero-section-image-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-section .normal-domain .card-1 {
  padding-left: 2rem;
  padding-block: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-section .normal-domain .card-1 p:nth-of-type(1) {
  border-radius: 2px;
  background-color: white;
  color: black;
  width: 45px;
  text-align: center;
}
.hero-section .normal-domain .card-1 h1 {
  font-size: 3.5rem;
}
.hero-section .normal-domain .card-1 p:nth-of-type(2) {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 800;
  text-wrap: balance;
}
.hero-section .normal-domain .card-1 button {
  background-color: black;
  color: white;
  width: 200px;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 10px;
}
.hero-section .wordpress-domain {
  border-radius: 25px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
.hero-section .wordpress-domain .card-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero-section .wordpress-domain .card-2 p:nth-of-type(1) {
  background-color: #a6fff8;
  color: black;
  padding: 2px 4px;
  border-radius: 2px;
}
.hero-section .wordpress-domain .card-2 button {
  background-color: white;
  color: black;
  padding: 1em 1em;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

.button-section {
  margin-block: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.button-section li {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 25px;
  transition: scale 0.5s ease;
}
.button-section li:nth-of-type(1) {
  border: none;
  color: white;
  background-color: black;
}
.button-section li:hover {
  scale: 1.1;
  border: 2px solid black;
}

@media (max-width: 1000px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .hero-section .normal-domain {
    background-image: url("images/hero-section-image-vertical.webp");
    background-position: bottom right;
    height: 850px;
  }
  .hero-section .normal-domain p:nth-of-type(2) {
    font-weight: normal;
  }
  .hero-section .wordpress-domain {
    padding-block: 30px;
    padding-left: 2rem;
  }
  .hero-section .wordpress-domain .card-2 {
    padding-block: none;
    text-align: left;
    width: 100%;
    align-items: flex-start;
  }
  .hero-section .wordpress-domain .card-2 h1 {
    font-size: 1.5rem;
  }
  .hero-section .wordpress-domain .card-2 button {
    display: none;
  }
}
@media (max-width: 650px) {
  .hero-section .normal-domain .card-1 {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  .hero-section .normal-domain .card-1 h1 {
    font-size: 2.5rem;
    width: 70%;
  }
  .hero-section .normal-domain .card-1 p:nth-of-type(2) {
    text-wrap: balance;
  }
}
.card-section {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-inline: 4rem;
}
.card-section .card-section_card-1 {
  border-radius: 10px;
  background-image: url("images/card-section-img-1-vertical.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-section .card-section_card-1:hover {
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgba(128, 128, 128, 0.37);
  transition: box-shadow 0.2s ease-in-out;
}
.card-section .card-section_card-1 .content {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-section .card-section_card-1 .content p {
  font-size: 1rem;
  text-wrap: balance;
}
.card-section .card-section_card-1 .content button {
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  width: 180px;
  transition: scale 0.2s ease;
}
.card-section .card-section_card-1 .content button:hover {
  transition: scale 0.2s ease;
  scale: 1.1;
}
.card-section .card-section_card-2 {
  border-radius: 10px;
  background-image: url("images/card-section-img-2-vertical.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-section .card-section_card-2:hover {
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgba(128, 128, 128, 0.37);
  transition: box-shadow 0.2s ease-in-out;
}
.card-section .card-section_card-2 .content {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-section .card-section_card-2 .content p {
  font-size: 1rem;
  text-wrap: balance;
}
.card-section .card-section_card-2 .content p:nth-of-type(2) {
  font-weight: bold;
}
.card-section .card-section_card-2 .content button {
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  width: 180px;
  transition: scale 0.2s ease;
}
.card-section .card-section_card-2 .content button:hover {
  transition: scale 0.2s ease;
  scale: 1.1;
}

@media (max-width: 1000px) {
  .card-section {
    grid-template-columns: none;
    grid-auto-flow: row;
    margin-inline: 1rem;
  }
}
.center-heading {
  text-align: center;
  font-size: 3rem;
}

.image {
  width: 90%;
  height: 60vh;
  border-radius: 25px;
  margin: 2rem auto;
  background-image: url("images/1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.2s ease-in-out;
}

.card-group {
  width: 90%;
  display: flex;
  margin-inline: 3rem;
}
.card-group .card {
  width: 33.3333333333%;
  padding-block: 1rem;
}
.card-group .card .inner-card {
  width: 95%;
  height: 100%;
  padding-inline: 2rem;
}
.card-group .card .inner-card:hover {
  border-radius: 20px;
  background-color: lightgray;
}
.card-group .card h1 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.card-group .card p {
  font-size: 1rem;
}

.button-div {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-div .center-button {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding-block: 1rem;
  padding-inline: 2.5rem;
  cursor: pointer;
  transition: scale 0.1s ease;
}
.button-div .center-button:hover {
  scale: 105%;
  transition: scale 0.1s ease;
}

@media (max-width: 800px) {
  .center-heading {
    font-size: 2rem;
    text-wrap: balance;
  }
  .card-group {
    flex-direction: column;
  }
  .card-group .card {
    width: 100%;
  }
  .card-group .hoverable-card-2, .card-group .hoverable-card-3 {
    display: none;
  }
}
.owner-section1 {
  padding-block: 2rem;
  border-radius: 25px;
  margin-inline: 2rem;
  margin-bottom: 2rem;
  background-image: url("images/Raheim-Thompson-D.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: left;
}
.owner-section1 .about-owner {
  border-radius: 25px;
  width: 60%;
  height: 100%;
  border: 1px solid white;
  margin-block: 2rem;
  margin-right: 2rem;
  margin-left: auto;
  padding-inline: 2rem;
  background-color: white;
}
.owner-section1 .about-owner h1 {
  height: 50%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.owner-section1 .about-owner .owner-image-and-nav-links {
  margin-bottom: 2rem;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.owner-section1 .about-owner .owner-image-and-nav-links .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}
.owner-section1 .about-owner .owner-image-and-nav-links .nav-links div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}
.owner-section1 .about-owner .owner-image-and-nav-links .nav-links .hover:hover {
  text-decoration: underline;
  color: rgb(11, 87, 87);
  font-size: 1rem;
}
.owner-section1 .about-owner .owner-image-and-nav-links .nav-links,
.owner-section1 .about-owner .owner-image-and-nav-links .owner-image {
  width: 50%;
}
.owner-section1 .about-owner .owner-image-and-nav-links .owner-image {
  border-radius: 25px;
  overflow: hidden;
  width: 50%;
}
.owner-section1 .about-owner .owner-image-and-nav-links .owner-image img {
  width: 100%;
  height: 100%;
}

.owner-section2 {
  display: none;
}

@media (max-width: 1000px) {
  .owner-section1 {
    display: none;
  }
  .owner-section2 {
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .owner-section2 .links {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .owner-section2 .links .hover:hover {
    text-decoration: underline;
    color: rgb(11, 87, 87);
    font-size: 1rem;
  }
  .owner-section2 .links span {
    margin-top: 10px;
    font-weight: bold;
  }
  .owner-section2 .owner-image {
    width: 50%;
    border-radius: 25px;
    overflow: hidden;
  }
  .owner-section2 .owner-image img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 800px) {
  .owner-section2 .owner-image {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GD Sherpa Regular";
}

/*# sourceMappingURL=style.css.map */
